<a href="https://colab.research.google.com/github/bharath122/Python/blob/main/21Jan24_Practice_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1.	Print the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]
print(fruits )

['apple', 'banana', 'cherry']

In [4]:
#2.	Change the value from "apple" to "kiwi", in the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits[0]="kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [5]:
#3.	Use the append method to add "orange" to the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [10]:
#4.	Use the insert method to add "lemon" as the second item in the fruits list.

fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [11]:
#5.	Use the remove method to remove "banana" from the fruits list.

fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [15]:
#6.	Use negative indexing to print the last item in the list.

fruits = ["apple", "banana", "cherry"]
print(fruits[-1] )

cherry

In [17]:
#7.	Use a range of indexes to print the third, fourth, and fifth item in the list.

fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [25]:
#8.	Use the correct syntax to print the number of items in the list.

fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [26]:
#9.	Use the correct syntax to print the first item in the fruits tuple.

fruits = ("apple", "banana", "cherry")
print(fruits[0] )

apple

In [27]:
#10.	Use the correct syntax to print the number of items in the fruits tuple.

fruits = ("apple", "banana", "cherry")
print( len(fruits))

3

In [28]:
#11.	Use negative indexing to print the last item in the tuple.

fruits = ("apple", "banana", "cherry")
print( fruits[-1])

cherry

In [30]:
#12.
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[-1])

mango

In [31]:
#Add an element to the fruits set:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'apple', 'orange', 'banana', 'cherry'}

In [32]:
#Remove all elements from the fruits set:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [33]:
#Copy the fruits set:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'banana', 'cherry'}

In [34]:
# Return a set that contains the items that only exist in set x, and not in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [35]:
#Remove the items that exist in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [36]:
#Remove "banana" from the set:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

In [37]:
#Return a set that contains the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [39]:
#Remove the items that is not present in both x and y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [40]:
#Return True if no items in set x is present in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [41]:
#Return True if all items in set x are present in set y:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [42]:
#Remove a random item from the set:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'cherry'}

In [43]:
#Remove "banana" from the set:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

In [44]:
#Return a set that contains all items from both sets, except items that are present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'microsoft', 'banana', 'google'}

In [45]:
#Remove the items that are present in both sets, AND insert the items that is not present in both sets:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'banana', 'google'}

In [46]:
#Return a set that contains all items from both sets, duplicates are excluded:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'apple', 'microsoft', 'banana', 'google', 'cherry'}

In [47]:
#Insert the items from set y into set x:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'apple', 'microsoft', 'banana', 'google', 'cherry'}

In [48]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car )

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [52]:
#Change the "year" value from 1964 to 2020.

car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update(year=2020)
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [60]:
#Add the key/value pair "color" : "red" to the car dictionary.

car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car['color']="red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [65]:
#Use the pop method to remove "model" from the car dictionary.

car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [67]:
#Use the clear method to empty the car dictionary.

car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()
print(car)

{}